*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0 50vmin;
  height: 100vh;
  background-color: #313131;
  color: #FDDA65;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: space-between;
}

button#giveUp{
  background-color:#FDDA65;
  border-radius: 50px;
  height: 40px;
  width: 100px;
  border: none;
  margin: 20px 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.red{
  background-color :#FB0000;
  height: 10vh;
  width: 10vmin;
}

.white{
  background-color: #FFFFFF;
  height: 10vh;
  width: 10vmin;
}